@model IEnumerable<IDS325__Indice_Académico_Proyecto.Models.sp_ListarEstudiantes_Result>

@{
    ViewBag.Title = "IndexEstudiante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexEstudiante</h2>

<p>
    <h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Matricula }) |
                @Html.ActionLink("Details", "Details", new { id = item.Matricula }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Matricula })
            </td>
        </tr>
    }

</table>
